*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: rgb(189, 189, 189);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-logo, .menu-logo-zold{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    user-select: none;
    text-shadow: 1px 1px 1px black;
}

.menu-logo:hover{
    cursor: pointer;
}

.menu-logo-kek{
    color:  #0091ff;
}


nav{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.icon-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease 0.5s;
}

.icon-logout{
    background-color: red;
    color: white;
}

.icon-logout:hover{
    transform: scale(1.1);
}


.hamburger-menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: rgb(189, 189, 189);
}

.hamburger-menu span{
    display: block;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    width: 100%;
}

.menu-toggle{
    display: none;
}

.menu-toggle:checked~nav{
    display: flex;
}

@media screen and (max-width: 768px) {
    .hamburger-menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 1.5rem;
        display: none;
    }
    .icon-logout{
        margin: auto;
    }
}


.container{
    width: 100%;
    max-width: 1800;
    margin: 0 auto;
    padding: 10px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.card{
    flex: 0 1 calc((100% - 40px) / 5);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: ease 500ms;
    width: fit-content;
}

.card:hover{
    transform: scale(1.01);
}

.card p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card img{
    width: 100%;
}

.card-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.card-header img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: inherit;
}

.pic-div{
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.pic-div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 120px;
    min-width: 120px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.card-footer span{
    font-size: 3rem;
    font-weight: bold;
}

.card-footer i:hover{
    transform: scale(1.01);
}

.fixed{
    display: flex;
    right: 3%;
    top: 75%;
    z-index: 1000;
    cursor: pointer;
    font-size: 5rem;
    width: 65px;
    height: 65px;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    position: fixed;
    background-color: #0091ff;
}

.fixed:hover{
    transform: scale(1.01);
}

.fixed i{
    font-size: 2.5rem;
    color: white;
}



@media screen and (max-width: 1100px) {
    .card{
        flex: 0 1 calc((100% - 40px) / 4);
    }
}

@media screen and (max-width: 770px) {
    .card{
        flex: 0 1 calc((100% - 40px) / 3);
    }
}

@media screen and (max-width: 670px) {
    .card{
        flex: 0 1 calc((100% - 15px) / 2);
        width: 180px;
    }
}

@media screen and (max-width: 450px) {
    .card{
        flex: 0 1 calc((100% - 10px) / 2);
        width: 160px;
    }
}

@media screen and (max-width: 320px) {
    .card{
        flex: 0 1 calc((100% - 10px) / 1);
    }
}
.order {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.order {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

input, select{
    font-size: large;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.column{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 25px;
    font-size: large;
}

.column label, button{
    margin-top: 1rem;
}

.column button{
    background-color: #0091ff;
    color: white;
    padding: 1rem;
    border-radius: 25px;
    font-size: larger;
}

.trash{
    font-size: 2rem;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.trash:hover{
    cursor: pointer;
}

.column h2{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}