*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 60, 60);
}

header{
    background-color: rgb(189, 189, 189);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-logo, .menu-logo-zold{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    user-select: none;
    text-shadow: 1px 1px 1px black;
}

.menu-logo-kek{
    color:  #0091ff;
}


nav{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.icon-home, .icon-user, .icon-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease 0.5s;
}

.icon-logout{
    background-color: red;
    color: white;
}

.icon-home:hover, .icon-user:hover, .icon-logout:hover{
    transform: scale(1.1);
}

.icon-user{
    background-color: #0091ff;
}


.hamburger-menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: rgb(189, 189, 189);
}

.hamburger-menu span{
    display: block;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    width: 100%;
}

.menu-toggle{
    display: none;
}

.menu-toggle:checked~nav{
    display: flex;
}

@media screen and (max-width: 768px) {
    .hamburger-menu{
        display: flex;
    }
    nav{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 1.5rem;
        display: none;
    }
}


.container{
    width: 95%;
    max-width: 1800;
    margin: 0 auto 0 auto;
    padding: 10px;
    background-color: rgb(189, 189, 189);
    border-radius: 15px;
    border: 1px solid black;
}


.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease 0.5s;
}

.cart:hover{
    transform: scale(1.05);
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 40px;
}

.menu-logo:hover{
    cursor: pointer;
}

.order{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    max-width: 1800;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.products{
    display: flex;
    flex-direction: column;
}

.location{
    display: flex;
    flex-direction: column;
}

.data{
    padding: 0 1rem 0 1rem;
    gap: 10px;
    font-size: large;
}

@media screen and (max-width: 620px) {
    .order{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: baseline;
    }
    .data{
        padding: 0.5rem 0 0 0;
    }
    .products{
        margin: auto;
    }
    .location{
        flex-direction: row;
    }
    .trash{
        margin: auto;
    }
    .container{
        margin: 20rem auto 0 auto;
    }
}

.trash{
    font-size: 2rem;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 50%;
}

.trash:hover{
    cursor: pointer;
}