*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: rgb(189, 189, 189);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-logo, .menu-logo-zold{
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    user-select: none;
    text-shadow: 1px 1px 1px black;
}

.menu-logo-kek{
    color:  #0091ff;
}


nav{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.icon-home, .icon-user, .icon-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease 0.5s;
}

.menu-logo:hover{
    cursor: pointer;
}

.icon-logout{
    background-color: red;
    color: white;
}

.icon-home:hover, .icon-user:hover, .icon-logout:hover{
    transform: scale(1.1);
}


.hamburger-menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: rgb(189, 189, 189);
}

.hamburger-menu span{
    display: block;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    width: 100%;
}

.menu-toggle{
    display: none;
}

.menu-toggle:checked~nav{
    display: flex;
}

@media screen and (max-width: 768px) {
    .hamburger-menu{
        display: flex;
    }
    nav{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: white;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        font-size: 1.5rem;
        display: none;
    }
}


.container{
    width: 100%;
    max-width: 1800;
    margin: 0 auto;
    padding: 10px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.lowerMain{
    margin-top: auto;
    padding: 35px;
    background-color: black;
    color: white;
    height: 100%;
}

.elerhetoseg{
    padding-bottom: 15px;
}

.elerhetoseg h5{
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.info{
    padding-bottom: 15px;
}

.cart-container {
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 35px;
    border-radius: 15px;
    font-weight: bold;
}
.cart-item {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.cart-item img {
    width: 100px;
    height: auto;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.cart-summary {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item span{
    text-align: center;
    justify-content: center;
    margin: auto;
}

.cart-item input{
    width: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.75rem 1rem 0.75rem 1rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.cart-summary h3, .cart-summary a {
    text-align: center;
    width: 200px;
    margin-left: auto;
}

.checkout-btn {
    background-color: #0091ff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
}

.trash{
    margin: 5px auto 5px auto;
    font-size: 25px;
    text-align: right;
    justify-content: right;
}

.trash:hover{
    cursor: pointer;
}

@media screen and (max-width: 520px) {
    .cart-item{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .cart-summary{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .quantity{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .cart-item span{
        text-align: center;
        justify-content: center;
    }
    .trash{
        text-align: center;
        justify-content: center;
    }
}

.back-to-btn{
    background-color: #0091ff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
}

.cart-item button{
    background-color: #0091ff;
    color: white;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bolder;
    font-size: larger;
}

.quantity{
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.cart{
    background-color: #0091ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease 0.5s;
}

.cart:hover{
    transform: scale(1.05);
    cursor: pointer;
}